<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card mat-elevation-z4">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput id="userName" formControlName="userName" />
          <mat-error *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput id="password" type="password" formControlName="password" />
          <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" />
          <mat-error *ngIf="userForm.errors?.['mismatch']">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select id="role" formControlName="role">
            <mat-option value="">Select Role</mat-option>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">Site Admin</mat-option>
            <mat-option value="operator">Operator</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched">
            Role is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Add User</button>
        <button mat-raised-button color="primary" routerLink="/users" style="margin-left: 5px;">Cancel</button>

      </form>
    </div>
  </div>
  <div class="col-4"></div>
</div>
