<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="card mat-elevation-z4">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <mat-card-header>
          <mat-card-title class="text-center">Add User</mat-card-title>
        </mat-card-header>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput id="userName" formControlName="userName" />
          <mat-error *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
            Username is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput id="password" [type]="hidepassword ? 'password' : 'text'" formControlName="password"   />
          <button mat-icon-button matSuffix (click)="passwordVisibility()">
            <mat-icon> {{ hidepassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput id="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword" />
          <button mat-icon-button matSuffix (click)="confirmPasswordVisibility()">
            <mat-icon> {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="userForm.errors?.['mismatch']">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select id="role" formControlName="role">
            <mat-option value="">Select Role</mat-option>
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="user">Site Admin</mat-option>
            <mat-option value="operator">Operator</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('role')?.invalid && userForm.get('role')?.touched">
            Role is required
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Add User</button>
        <button mat-raised-button color="primary" routerLink="/users" style="margin-left: 5px;">Cancel</button>

      </form>
    </div>
  </div>
  <div class="col-4"></div>
</div>
